.page-template-single-app {
  .page_title_ctn {
    border-bottom: none;
    background-color: #8e60a9;
  }

  .def_section {
    padding: 80px 0 60px;
  }


  @include custom-list;

  h2 {
    font-family:"Roboto", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;

    + p {
      margin-bottom: 0;
      font-family:"Roboto", Arial, sans-serif;
      font-size: 16px;
      color: #434343;
    }
  }
}
