.menu-home-container, .menu-home-double-menu-container, .menu-home-quadruple-menu-container {
  background-color: #e9eced;
  text-align: center;
}
.menu-home-triple-menu-container {
  text-align: center;
}

#menu-home, #menu-home-double-menu,
#menu-home-triple-menu, #menu-home-quadruple-menu {
  padding: 6px 6px;
  max-width: 1658px;
  margin: 0 auto;

  & .tp_recent_tweets {
    & li {
      background-image: none;
      & .twitter_time {
        color: #ed6f59;
      }
    }
  }

  & > li {
    display: block;
    width: calc(100% - 12px);
    background-color: white;
    vertical-align: top;
    text-align: left;

    &.orange a {
      background-image: url('assets/home-menu-orange.png');
    }

    &.green a {
      background-image: url('assets/home-menu-green.png');
    }

    &.purple a {
      background-image: url('assets/home-menu-purple.png');
    }

    &.blue a {
      background-image: url('assets/home-menu-blue.png');
    }

    &.pink a {
      background-image: url('assets/home-menu-pink.png');
    }

    & > div.image {
      position: relative;
      width: 100%;
      height: 201px;
      background-size: cover;
      background-position: center;

      & > a {
        position: absolute;
        display: block;
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
        padding: 20px 30px;
        left: 0;
        bottom: 0;
        right: 0;

        background-repeat: repeat-y;
      }
    }

    & > div.description {
      color: #434343;
      font-size: 16px;
      text-align: justify;
      padding: 30px;

      font-family:"Roboto", Arial, sans-serif;
      font-weight: 300;
    }

    & > .widgetizedArea > div, & > .widgetizedArea {
      margin: 10px;
      & a {
        color: #ed6f59;
      }
      & > h2 {
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
      }
      & > ul, & > ol {
        & > li {
          display: block;
          width: 100%;
        }
      }
    }

    //.tp_recent_tweets {
    //  li {
    //    display: block;
    //    width: 90%;
    //    margin-bottom: 18px;
    //    background-image: url('images/ico-twitter-quote.png');
    //    background-position-y: 2px;
    //    border-bottom: 1px solid #44474a;
    //
    //    &:last-child {
    //      border-bottom: none;
    //    }
    //  }
    //
    //  span {
    //    color: #000000;
    //  }
    //
    //  a {
    //    color: #0aa9c6;
    //
    //    &.twitter_time {
    //      color: #000000;
    //      font-size: 12px;
    //    }
    //  }
    //}

    //.widget_tp_widget_recent_tweets {
    //  h3 {
    //    background: url('images/ico-twitter-footer.png') right center no-repeat;
    //    padding-left: 27px;
    //    color: #0aa9c6;
    //  }
    //}

  }
}

#menu-home {
  li {
    margin: 6px;
    @include mintablet {
      display: inline-block;
      width: calc(33% - 12px);
    }
  }
}

#menu-home-double-menu {
  li {
    margin: 6px;
    @include mintablet {
      display: inline-block;
      &:nth-child(1) {
        width: calc(66% - 12px);
      }
      &:nth-child(2) {
        width: calc(33% - 12px);
      }
    }
  }
}

#menu-home-triple-menu {
  & h3 {
    color: #0870ac;
    font-variant: small-caps;
    font-size: 1.75rem;
  }

  & .tribe-events-widget-link {
    display: none;
  }

  & > li {
    border: 1px solid #2f6ea5;
    margin: 40px;
  }

  & li {
    @include mintablet {
      display: inline-block;
      width: 23%;
    }

    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #2f6ea5;

    & h4 {
      margin: 0;
    }

    & a, & .tribe-event-title a {
      font-weight: normal !important;
      font-size: 18px;
      color: black;
      & > span {
        color: black;
      }
    }

    & .rpwwt-post-date, & .tribe-event-duration span {
      color: #ed6f59;
    }

    & .rpwwt-post-excerpt > a, & .tribe-events-list-widget-events p a {
      float: right;
      cursor: pointer;
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: .2rem;
      color: #212529 !important;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-bottom-color: transparent;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      -webkit-appearance: button;

      &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
      }
    }

    & li:last-child {
      border-bottom: 0 none;
    }
  }
}

#menu-home-quadruple-menu {
  & a {
    text-align: center;
  }
  li {
    margin: 4px;
    @include mintablet {
      display: inline-block;
      width: calc(25% - 12px);
    }

    & a.more-btn {
      background-image: none;
      float: right;
      cursor: pointer;
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: .2rem;
      color: #212529 !important;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-bottom-color: transparent;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      -webkit-appearance: button;

      &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
      }
    }
  }
}

div.moving-background {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  div.container-title {
    position: relative;
    min-height: 300px;
    padding: 20px 100px 20px 100px;
    z-index: 1;

    & p {
      font-size: 26px;
      color: #fff;
      text-align: center;
    }
  }

  &.background-globe {
    background-image: url(/wp-content/themes/thefox-child/images/globe.png);
    background-color: rgba(8,112,172,0.9);

    & .numbers-row {
      text-align: center;
      width: 50%;

      & .number-row {
        color: #ffffff;
        padding: 100px 10px 100px 10px;
        float: left;
        font-size: 20px;

        & label {
          font-size: 48px;
          font-weight: 400;
        }

        & span {
          padding: 0;
          margin-top: -5px;
          display: block;
          //text-transform: lowercase;
        }
      }
    }

    & .mission {
      p {
        text-align: left !important;
        font-size: 20px;
        padding: 100px 10px 100px calc(40% + 100px);
        margin-left: 100px;
        display: block;
      }
    }
  }
  &.background-mission {
    background-image: url(/wp-content/themes/thefox-child/images/mission.jpg);
    background-color: rgba(8,112,172,0.6);

    & h2 {
      color: #99cccc;
      font-size: 48px;
      text-align: center;
      padding: 1em 0 2em 0;
    }
  }

  div.opacity-film {
    opacity: 0.6;
    background-color: #35383c;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

div.allow-space {
  padding-bottom: 100px;
  &.blue-space {
    background-color: #e9eced;
  }
}

div#container-about {
  margin: 0 15px 0 15px; //for small devices
  @include mintablet {
    margin: 0 auto;
  }

  & p {
    font-size: 16px;
  }
  & p, & h2 {
    color: #243A69;
    margin: 0;
  }
  & .row {
    padding-top: 2em;
    padding-bottom: 2em;

    & .about-title {
      float: left;
      padding-right: 2em;
    }

    & .about-text {
      overflow: hidden;
      padding-left: 2em;
      border-left: 2px solid #243A69;
    }
  }
}